
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <i class="fa-solid fa-broom-ball"></i> Harry Potter
   

    </a>
  </div>
</nav>

<div class="container">

<h1>Personajes de Harry Potter</h1>
<ul>
  <% @characters.each do |character| %>
    <li>
      <strong>Nombre:</strong> <%= character.name %><br>
      <strong>Locación:</strong> <%= character.location %><br>
      <strong>Casa:</strong> <%= character.house %>
    </li>
  <% end %>
</ul>

</div>