
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <i class="fa-solid fa-broom-ball"></i> Harry Potter 
   

    </a>
  </div>
</nav>



<div class="pogo">

<h1>Personajes de Harry Potter <i class="fa-solid fa-hat-wizard"></i> </h1>


<ul>
  <% @characters.each do |character| %>


    <li class= carta>

    <span>
      <strong>Nombre:</strong> <%= character.name %> 
    </span>

    <span>
      <strong>Locación:</strong> <%= character.location %>
    </span>


    <span>
      <strong>Casa:</strong> <%= character.house %>
    </span>
  <% end %>

    </li>

    

</ul>



</div>